# Node
node_modules/
.pnpm-store/

# Builds
dist/
build/
out/

# Next.js
.next/
.nextcache/

# Vite
vite-cache/
*.tsbuildinfo

# NestJS
coverage/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env
.env
.env.*
!.env.example

# Mac / OS
.DS_Store

# IDE
.idea/
.vscode/

apps/*/pnpm-lock.yaml
**/contenu_5_secondes_chrono/

CLAUDE.md
.claude/
