node_modules
dist
.next
.git
.gitignore
coverage
*.md
*.log
.env
.env.*
!.env.example
docker-compose.yml
Dockerfile
.dockerignore
test
*.spec.ts
*.e2e-spec.ts
.eslintrc*
eslint.config.*
.prettierrc*
jest.config.*
tsconfig.build.json
